@tailwind base;
@tailwind components;
@tailwind utilities;

.layout{
  display: flex;
  min-height: 100vh;
}

.layout-header{
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.layout-header nav ul{
  list-style: none;
  text-align: center;
  display: inline;
}

.layout-header nav ul li{
  display: inline;
  margin: 0 15px;
}

.layout-header nav ul li a{
  color: white;
  text-decoration: none;
}
